.controls {
  border: solid 1px #000;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: 34px;
  height: 48px;
  justify-content: space-between;
  line-height: 36px;
  margin-left: 50px;
  padding: 10px;
  width: 200px;
}
